p
  a(href='http://wps.com')
    img(src='cid:wps-logo.png')

p.greeting 
  | Hello #{name},

p 
  | Thank you for attention 
  code express-email
  | . If you have any problem with 
  code express-email
  | , 
  a(href='mailto:pjincz@gmail.com') tell me please
  | . I hope this little tool can let your life better.

p
  | best regards,
  br
  | Jin
